:root {
  --trcssVerticalSpacer: 5px;
  --trcssPageBG: #404040;
  --trcssTitleBG: #200F60;
  --trcssTitleFG: #BFC8EC;
  --trcssTitleFont: Arial, Helvetica, sans-serif;
  --trcssSubtitleBG: #200FA0;
  --trcssSubtitleFG:var(--trcssTitleFG);
  --trcssSubtitleFont:var(--trcssTitleFont);
  --trcssTextFG:var(--trcssTitleFG);
  --trcssTextFont: Verdana, Geneva, Tahoma, sans-serif;
  --trcssEmphasisBG: black;
  --trcssEmphasisFG: whitesmoke;
  --trcssWarningBG: black;
  --trcssWarningFG: yellow;
  --trcssDangerBG: white;
  --trcssDangerFG: red;
  --trcssTableBorder:var(--trcssTitleBG);
  --trcssTableBG:#505050;
  --trcssThBG:var(--trcssSubtitleBG);
  --trcssThFG:var(--trcssSubtitleFG);
  --trcssThFont: var(--trcssTitleFont);
  --trcssTdFG:var(--trcssTextFG);
  --trcssTdFont:var(--trcssTitleFont);
  --trcssButtonBG: blue;
  --trcssButtonFG: whitesmoke;
  --trcssButtonHoverBG: black;
  --trcssButtonHoverFG: white;
  --trcssButtonFont: 'Courier New', Courier, monospace;
}
.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--trcssPageBG);
}
.trSubtitle {
  border: 5px inset whitesmoke;
  border-radius: 15px;
  margin-top: var(--trcssVerticalSpacer);
  width: fit-content;
  padding: 2px 5px;
  background-color: burlywood;
  color: black;
  font-size: x-large;
  font-family: var(--trcssSubtitleFont);
}
.trTable {
  background-color: black;/* var(--trcssTableBG);*/
  margin-top: var(--trcssVerticalSpacer);
  border-width: 3px;
  border-style: solid;
  border-color: var(--trcssTableBorder);
  color: azure; /*var(--trcssTdFG);*/
}
.trTable th {
  background-color: var(--trcssThBG);
  color: var(--trcssThFG);
  font-family: var(--trcssThFont);
  font-weight: normal;
  padding: 3px;
  text-align: left;
}
.trTable td {
  font-family: var(--trcssTdFont);
  padding-left: 3px;
}
.trTable tbody tr:hover {
  background-color: azure;
  color: black;
}
.trTable tfoot tr td {
  border-top: 5px solid azure;
}
@keyframes fantastic {
  0% {border: 1px dashed #0000FF;}
  50% {border: 1px dotted #00FF00;}
}
[data-grade="fantastic"] {
  background-color: deeppink;
  animation-name: fantastic;
  animation-duration: 12s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  color: black;
}
[data-grade="fantastic"]::before {
  content: "🤩";
}
[data-grade="great"] {
  background-color: cyan;
  color: black;
}
[data-grade="great"]::before {
  content: "👏🏽";
}
[data-grade="good"] {
  background-color: greenyellow;
  color: black;
}
[data-grade="good"]::before {
  content: "😎";
}
.trButton {
  float: none;
  font-family: var(--trcssButtonFont);
  font-size: large;
  border: 1px solid var(--trcssButtonFG);
  border-radius: 5px;
  background-color: var(--trcssButtonBG);
  color: var(--trcssButtonFG);
  transition-duration: 0.4s;
}
.trButton:hover {
  border: 1px solid var(--trcssButtonHoverFG);
  background-color: var(--trcssButtonHoverBG);
  color: var(--trcssButtonHoverFG);
  cursor: pointer;
}
.trInfoIcon {
  vertical-align: middle;
  background-color: blue;
  border-radius: 50%;
  color: white;
}
.equispaced {
  font-family: monospace;
}
.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}
.sortarrow {
  color: yellow;
  margin-left: 1px;
}
.sortarrow:hover {
  cursor: pointer;
}
.thwinner {
  background-color: #0000FF;
  display: flex;
  justify-content: space-between;
}
